# Ignore HTML files in GitHub's language statistics
*.html linguist-vendored=true
public/* linguist-vendored=true
public/index.html linguist-vendored=true

# Explicitly ensure TypeScript is detected
*.ts linguist-detectable=true
